
@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    Layout = null;
}
<h2>You do not have permission to this page. </h2>
<h4>Please login <a asp-controller="Account" asp-action="Login">Login here</a></h4>
